.container {
  padding-bottom: 50px;
}
#map {
  height: 600px;
  margin-top: 20px;
}

body {
  background-color: #5A6351;
}

#info {
  background-color: #7F8778;
  border: 2px solid;
  padding: 1em;
}

h1 {
  font-weight: bolder;
  color: #CFDBC5;
  background-color:#7F8778;
  padding: 2em;
  text-align: center;
}

h2 {
  color: #CFDBC5;
  background-color:#7F8778;
  text-align: center;
  padding: 1em;
}

p {
  color: #CFDBC5;
}
